In [9]:
def try_if(m, first = False):
    if first:
        m = 1
    print(m)
    
try_if(2, True)

1

In [ ]:
-

In [14]:
import pandas as pd

try_list = {1:[[1,2,3,5],
              [2,4,5,6]],
           2:[[4,6,8,10,15]],
           3:[[109,24,53]]}

try_list[1].append([2,4,6,8])

try_df = pd.DataFrame(try_list[1])

try_df.append

<bound method DataFrame.append of    0  1  2  3
0  1  2  3  5
1  2  4  5  6
2  2  4  6  8>

In [23]:
def column(matrix, i):
    return [row[i] for row in matrix]

data = {1:[1,2,3,4,5],
        2:[2,3,4,1,3],
        3:[5,2,4,5,2],
        4:[1239,34,23,41,1]}
import pandas as pd
data = pd.DataFrame(data)

data.append([1,2,3,6,7])

     0    1    2    3       4
0  NaN  1.0  2.0  5.0  1239.0
1  NaN  2.0  3.0  2.0    34.0
2  NaN  3.0  4.0  4.0    23.0
3  NaN  4.0  1.0  5.0    41.0
4  NaN  5.0  3.0  2.0     1.0
0  1.0  NaN  NaN  NaN     NaN
1  2.0  NaN  NaN  NaN     NaN
2  3.0  NaN  NaN  NaN     NaN
3  6.0  NaN  NaN  NaN     NaN
4  7.0  NaN  NaN  NaN     NaN

In [11]:
data_2 = [[1,2,3,4,5],
        [2,3,4,1,3],
        [5,2,4,5,2],
        [1239,34,23,41,1]]
data_2 = pd.DataFrame(data_2)

data_2[[1,2]]

    1   2
0   2   3
1   3   4
2   2   4
3  34  23

In [50]:
import numpy as np
list_1 = [2,3,4,1,5]

np.argmax(list_1)

4

In [44]:
data_3 = [2,3]

data_3 = pd.DataFrame(data_3)

data_3

   0
0  2
1  3

In [68]:
data_k = {}
for k in range(3):
    data_k.update({k:[]})
    print(data_k)

    
data_k[2] = [1,3,4,5,6]
data_k

{0: []}
{0: [], 1: []}
{0: [], 1: [], 2: []}

{0: [], 1: [], 2: [1, 3, 4, 5, 6]}

In [ ]:
import numpy as np
from sklearn.cluster import KMeans

######################### K-Medoids

def assign_nearest(ids_of_mediods):
    dists = dist(x[:,None,:], x[None,ids_of_mediods,:])
    return np.argmin(dists, axis=1)


def dist(xa, xb):
    if EUCLIDEAN:
        return np.sqrt(np.sum(np.square(xa-xb), axis=-1))
    else:
        return np.sum(np.abs(xa - xb), axis=-1)


def find_medoids(assignments):
    medoid_ids = np.full(k, -1, dtype=int)
    subset = np.random.choice(n, batch_sz, replace=False)

    for i in range(k):
        indices = np.intersect1d(np.where(assignments==i)[0], subset)
        distances = dist(x[indices, None, :], x[None, indices, :]).sum(axis=0)
        medoid_ids[i] = indices[np.argmin(distances)]

    return medoid_ids


def kmeds(iterations=20):
    print("Initializing to random medoids.")
    ids_of_medoids = np.random.choice(n, k, replace=False)
    class_assignments = assign_nearest(ids_of_medoids)

    for i in range(iterations):
        print("\tFinding new medoids.")
        ids_of_medoids = find_medoids(class_assignments)
        print("\tReassigning points.")
        new_class_assignments = assign_nearest(ids_of_medoids)

        diffs = np.mean(new_class_assignments != class_assignments)
        class_assignments = new_class_assignments

        print("iteration {:2d}: {:.2%} of points got reassigned."
              "".format(i, diffs))
        if diffs <= 0.01:
            break

    return class_assignments, ids_of_medoids


######################### Generate Fake Data
print("Initializing Data.")
d = 3
k = 6
n = k * 1000000
batch_sz = 1000
x = np.random.normal(size=(n, d))
EUCLIDEAN = False

print("n={}\td={}\tk={}\tbatch_size={} ".format(n, d, k, batch_sz))
print("Distance metric: ", "Eucledian" if EUCLIDEAN else "Manhattan")

print("\nMaking k-groups as:")
for kk in range(k):
    dd = (kk-1)%d
    print("    x[{}:{}, {}] += {}".format(kk*n//k, (kk+1)*n//k, dd , 3*d*kk))
    x[kk*n//k:(kk+1)*n//k,dd] += 3*d*kk

######################### Fitting
print("\nFitting Kmedoids.")
final_assignments, final_medoid_ids = kmeds()

print("\nFitting Kmeans from Scikit-Learn")
fit = KMeans(n_clusters=k).fit(x)
kmeans_assignments = fit.labels_
kmeans = fit.cluster_centers_

mismatch = np.zeros((k, k))
for i, m in (zip(final_assignments, kmeans_assignments)):
    mismatch[i, m] += 1

np.set_printoptions(suppress=True)
print("\nKMedoids:")
print(x[final_medoid_ids, ])
print("K-Medoids class sizes:")
print(mismatch.sum(axis=-1))
print("\nKMeans:")
print(kmeans)
print("K-Means class sizes:")
print(mismatch.sum(axis=0))
print("\nMismatch between assignment to Kmeans and Kmedoids:")
print(mismatch)
print("Should ideally be {} * a permutation matrix.".format(n//k))

In [ ]:
import numpy as np
import random

def kMedoids(D, k, tmax=100):
    # determine dimensions of distance matrix D
    m, n = D.shape

    if k > n:
        raise Exception('too many medoids')

    # find a set of valid initial cluster medoid indices since we
    # can't seed different clusters with two points at the same location
    valid_medoid_inds = set(range(n))
    invalid_medoid_inds = set([])
    rs,cs = np.where(D==0)
    # the rows, cols must be shuffled because we will keep the first duplicate below
    index_shuf = range(len(rs))
    np.random.shuffle(index_shuf)
    rs = rs[index_shuf]
    cs = cs[index_shuf]
    for r,c in zip(rs,cs):
        # if there are two points with a distance of 0...
        # keep the first one for cluster init
        if r < c and r not in invalid_medoid_inds:
            invalid_medoid_inds.add(c)
    valid_medoid_inds = list(valid_medoid_inds - invalid_medoid_inds)

    if k > len(valid_medoid_inds):
        raise Exception('too many medoids (after removing {} duplicate points)'.format(
            len(invalid_medoid_inds)))

    # randomly initialize an array of k medoid indices
    M = np.array(valid_medoid_inds)
    np.random.shuffle(M)
    M = np.sort(M[:k])

    # create a copy of the array of medoid indices
    Mnew = np.copy(M)

    # initialize a dictionary to represent clusters
    C = {}
    for t in xrange(tmax):
        # determine clusters, i. e. arrays of data indices
        J = np.argmin(D[:,M], axis=1)
        for kappa in range(k):
            C[kappa] = np.where(J==kappa)[0]
        # update cluster medoids
        for kappa in range(k):
            J = np.mean(D[np.ix_(C[kappa],C[kappa])],axis=1)
            j = np.argmin(J)
            Mnew[kappa] = C[kappa][j]
        np.sort(Mnew)
        # check for convergence
        if np.array_equal(M, Mnew):
            break
        M = np.copy(Mnew)
    else:
        # final update of cluster memberships
        J = np.argmin(D[:,M], axis=1)
        for kappa in range(k):
            C[kappa] = np.where(J==kappa)[0]

    # return results
    return M, C